<div class="row">
	<div class="col-md-12">
	    <div class="panel panel-primary">
	        <div class="panel-heading">
	            About oldcomputers.co.za
	        </div>
	        <div class="panel-body">
	            <p>This is the vintage / retro computer and games collection of Tim Venn and has been keeping me fascinated for the past 10 years. The collection covers systems from various manufacturers over a period of more than 35 years and ranges from machines, consoles, games, software, magazines and books to just about any other retro or vintage computing related items. Feel free to take a look around and please use the contact section if you would like to get in touch with me.</p>
	        </div>
	    </div>
	</div>
</div>