<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">
			Welcome to the oldcomputers website <%= render 'main/facebook' %>

        </h3>
	</div>

<%= render 'main/menu' %>

<div class="col-md-8">
	<%= render :partial => 'blog/view', :locals => {blog: Blog.latest} %>
</div>

</div>