<div class="col-md-4">
  <div class="panel panel-primary">
        <div class="panel-heading">
            Site links
        </div>
        <div class="panel-body">
            <a class="btn btn-primary btn-md btn-block" href="/blogs">Blogs</a>
            <a class="btn btn-primary btn-md btn-block" href="/collection">Collection</a>
            <a class="btn btn-primary btn-md btn-block" href="/gallery">Gallery</a>
            <a class="btn btn-primary btn-md btn-block" href="/contact">Contact</a>
            <a class="btn btn-primary btn-md btn-block" href="/links">Links</a>
        </div>
    </div>
</div>