<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <br/>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Your comment has been saved.
                </div>
                <div class="panel-body">
                	<p>Many thanks for your comment. The feedback provided by visitors forms an integral part of the enjoyment of the hobby.</p>
                    <p>Please click <u><a href="/">here</a></u> to return to the home page.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
