<div class="row">
   <div class="col-md-12">
        <h4 class="page-header">Vintage Computing Group of South Africa</h4>
    </div>
    <div class="col-md-12">
    	<p>This is the website of the Vintage Computing Group of South Africa with links to their Facebook page and contact details.</p>
    	<p><a target="blank" href="http://vcgsa.co.za">http://vcgsa.co.za</a>

    </div>
    <div class="col-md-12">
        <h4 class="page-header">Onlinecollector</h4>
    </div>
    <div class="col-md-12">
    	<p>This website hosts the onlinecollectors database framework and allows anyone to setup an online collection at no cost.</p>
    	<p><a target="blank" href="http://onlinecollector.co.za">http://onlinecollector.co.za</a>
    </div>
</div>
