<div class="panel panel-primary">
                <div class="panel-heading">
                    <%= @notice_header %>
                </div>
                <div class="panel-body">
                    <p><%= @notice_body %>
                    <p>Please click <u><a href="/">here</a></u> to return to the main page.</p>
                </div>
</div>
