<div class="panel panel-primary">
	<div class="panel-heading">
		<%= @itemfield.name %> / <%= @fieldoption.name %>
	</div>
	<div class="panel-body">
		<%= render partial: 'item/list', locals: {items: @items} %>
	</div>
</div>