<div class="panel panel-primary">
	<div class="panel-heading">
		Recent blogs
	</div>
    <div class="panel-body">
    	<% Blog.recent_list.each do |blog| %>
        	<a href="/blogs/<%= blog.slug %>"><%= blog.title %></a><span class="pull-right"><%=  Date::MONTHNAMES[blog.created_at.month] %> <%= blog.created_at.year %>
 </span><br/>
        <% end %>
	</div>
</div>
