<div class="panel panel-primary">
	<div class="panel-heading">
		<%= @blog.title %><span class="pull-right"><%=  Date::MONTHNAMES[@blog.created_at.month] %> <%= @blog.created_at.year %></span>
	</div>
	<div class="panel-body">
		<%= @blog.content %>
	</div>
</div>